# Editors
.fttemplates/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
# Binaries
bin
/flux
*.iso
# Temp folders
.temp*
.private/
.logs/
.task/
# Ansible
ansible/inventory/e2e/hosts.yml
xanmanning.k3s*
nvidia.nvidia_driver*
node_modules
# Terraform
.terraform*
.terraform.tfstate*
terraform.tfstate*
# Sops
.decrypted~*
*.agekey
# Kubernetes
kubeconfig*
talosconfig*
*.pub
*.key
# Extras
config.xml
*.pid
kubernetes
talos/cni/charts
