apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
  labels:
    name: kube-vip
spec:
  containers:
    - name: kube-vip
      image: plndr/kube-vip:0.3.4
      args:
      - manager
      env:
      - name: vip_arp
        value: "false"
      - name: vip_interface
        value: lo
      - name: port
        value: "6443"
      - name: vip_cidr
        value: "32"
      - name: cp_enable
        value: "true"
      - name: cp_namespace
        value: kube-system
      - name: vip_startleader
        value: "false"
      - name: vip_loglevel
        value: "5"
      - name: bgp_enable
        value: "true"
      - name: bgp_routerinterface
        value: "{{ kube_vip.router_interface }}"
      - name: bgp_as
        value: "{{ kube_vip.bgp_as }}"
      - name: bgp_peeraddress
        value: "{{ kube_vip.bgp_peer_address }}"
      - name: bgp_peeras
        value: "{{ kube_vip.bgp_peer_as }}"
      - name: vip_address
        value: "{{ k3s_registration_address }}"
      securityContext:
        capabilities:
          add:
          - NET_ADMIN
          - NET_RAW
          - SYS_TIME
      volumeMounts:
      - mountPath: /etc/kubernetes/admin.conf
        name: kubeconfig
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/rancher/k3s/k3s.yaml
    name: kubeconfig
