---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr-config-v1
  namespace: downloads
  labels:
    kasten.io/backup-volume: "enabled"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: ceph-block
