---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: overseerr-config-v1
  namespace: downloads
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: ceph-block
